.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-top: 6.4rem;
}

.menuLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(86, 228, 143, 0.73);
    color: var(--text-over-primary);
    transition: all 0.5s ease-in-out;
    padding: 1.2rem;
    border-radius: 0.8rem;
}

.menuLink:hover {
    filter: brightness(80%);
}

.menuLink svg {
    width: 3.4rem;
    height: 3.4rem;
}