:root {
    --gray-900: #121214;
    --gray-800: #202024;
    --gray-700: #323238;
    --gray-600: #323238;
    --gray-500: #7C7C8A;
    --gray-400: #8D8D99;
    --gray-300: #C4C4CC;
    --gray-200: #E1E1E6;
    --gray-100: #F4F4FA;

    --primary-light: #4de7b7;
    --primary: #0da170
    --primary-dark: #065f46;

    --link-color: #10b981;
    --link-hover: #065f46;

    --success: #22c55e;
    --warning: #eab308;
    --error: #991b1b;
    --info: #0ea5e9;
    
    --text-over-primary: #0a0f1a;
    --text-over-primary-dark: #e6e9f0;
    --text-over-primary-light: #0a0f1a;
    --text-over-success: #0a0f1a;
    --text-over-warning: #0a0f1a;
    --text-over-error: #e6e9f0;
    --text-over-info: #0a0f1a;

    --text-default: #e6e9f0;
    --text-muted: #aab3cc;

    --disabled: #555f7d;
    --text-disabled: #aab3cc;

}