.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 6.4rem;
}

.logoLink {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 4.2rem;
    font-weight: bold;
    text-decoration: none;
    color: rgba(86, 228, 143, 0.73);
    transition: color 0.5s ease-in-out;
}

.logoLink:hover {
    color: rgba(48, 146, 87, 0.73);
}

.logoLink svg {
    opacity: 10;
}