.input {
    background-color: transparent;
    text-align: center;
    font-size: 1.8rem;
    padding: 0.8rem;
    color: rgb(9, 232, 61);
    outline: none;

    border: 0.2rem solid transparent;
    border-bottom: 0,2rem solid green;
    transition: all 0.1s ease-in-out;
}

.input:focus {
    border: 0.2rem solid green;
    border-radius: 0.8rem;
    border-bottom: 0.2rem solid green;
}


.input::placeholder {
    color: rgb(180, 180, 180);
    font-size: 1.4rem;
    font-style: italic;
}

.input:disabled {
    border-bottom: 0.2rem solid green;
    color: blueviolet;
}