.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cycleDots {
    display: flex;
    gap: 0.7rem;
}

.cycleDot {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: aquamarine;
    border-radius: 50%;
}

.workTime {
    background: rgb(255, 255, 139);
}

.shortBreakTime {
    background-color: aquamarine;
}

.longBreakTime {
    background-color: rgb(255, 81, 0);
}