.cycles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cycleDots {
    display: flex;
    gap: 0.7rem;
}

.cycleDot {
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: rgb(127, 249, 255);
    border-radius: 50%;
}

.workTime {
    background: rgb(116, 77, 255);
}

.shortBreakTime {
    background-color: rgb(127, 249, 255);
}

.longBreakTime {
    background-color: rgb(255, 0, 0);
}