.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.footer a {
    font-size: 1.5rem;
    color: var(--link-color);
    text-decoration: none;
}

.footer a:hover {
    color: var(--link-hover);
    text-decoration: underline;
}